.content {
	margin: 0px;
	height: 100vh;
	text-align: center;
}

#start {
	color: #edceff;
	font-family: 'Raleway', sans-serif;
	font-size: 40px;
	width: 190px;
	height: 190px;
	border-radius: 190px; 
	margin-top: 50%;
	border-width: 10px;

}

#timer {
	padding-top: 75%;
	font-size: 300px;
	font-family: 'Raleway', sans-serif;
}